input {
  display: block;
  margin-bottom: 5px;
}

div#dynamic {
  display: flex;
  justify-content: space-around;
}

.allScores {
  border: 2px solid black;
  width: 350px;
  min-height: 350px;
}

.header {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 30px;
}

.container {
  display: flex;
  justify-content: space-around;
}
